<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	<title>User Login | Python Django Starter Kit</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Various tools and reference material to get started and up to speed with Python Django.">
  <meta name="author" content="Steve Carey, TechandStartup.com founder">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />  
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />  
	<style type="text/css">
		body {
			padding-top:60px;
		}
		/* The adjust-anchor class is also related to the navbar-fixed-top class. It is needed when you have internal links on the page. Without it the top line of the anchored link would be hidden by the navbar. */
		.adjust-anchor {
			padding-top: 40px; 
			margin-top: -40px;
		}
	</style>
</head>
<body>

	<!-- NAVBAR -->
  <div class="navbar navbar-inverse navbar-fixed-top">  
    <div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Python Django Starter Kit</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="index.html">Home</a></li>
            <li><a href="python-tools.html">Tools</a></li>
						<li><a href="python-command.html">Command Line</a></li>
						<!-- <li><a href="#">Link 2</a></li> -->
						<!-- Dropdown Menu  -->
						<li class="dropdown active"> 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Django Apps
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href='python-pollsapp.html'>Pollsapp</a></li>
								<li><a href='python-simple-site.html'>Simple Site</a></li>
								<li><a href='python-contact.html'>Contact Form</a></li>
                <li><a href='python-admin.html'>Admin Console</a></li>
                <li class="active"><a href='python-login.html'>Login</a></li>
                <li><a href='python-login2.html'>Login2</a></li>
                <li><a href='python-registration.html'>Registration (coming soon)</a></li>
                <li><a href='python-pwreset.html'>Password Reset</a></li>
                <li><a href='python-pwchange.html'>Change Password</a></li>
              </ul>
						</li>
            <li><a href="python-heroku.html">Heroku Hosting</a></li>
            <li><a href="python-postgres.html">Install PostgreSQL</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container -->	
    </div><!--/.navbar-inner -->
  </div><!--/.navbar -->
	
	<!-- CONTENT -->
	<div class="container">

        
    <!-- Page Header -->
    <div class="well">  <!-- <div class="page-header">  -->
      <h1>User Login <small>with Django</small></h1>
      <hr/>

      <p>In this tutorial we will create a Login form. We will assume you already have a Django project started with the initial files set up. You can do that by following the simplesite tutorial to create a simple two page website using the Django framework.</p>
      <p>Since Login is generally a site-wide function we will not create a separate app for it. Rather we will use the files in the inner site folder where the settings.py file is. Django's out-of-the-box login process is good enough for most cases. We added other versions where you create your own views and forms for practice on those core Django files.</li>
      <p>Prerequisites: This tutorial assumes you are familiar with HTML and CSS; a basic command line interface (e.g., Windows Command Prompt, OSX Terminal, Linux Bash); the basics of the Python Programming Language; and preferrably you have already gone through the Django "Polls App" Tutorial at Djangoproject.org. At a minimum, you should have the following already installed: A text editor, Python version 2.7, Django, and pip.</p>
      There are multiple versions of this tutorial. Click on the tab to see each. It is recommended that you go through each in order.
      <ul>
        <li>Out of the Box</li>
        <li>Make Your Own Views</li>
        <li>Use a Form Class</li>
        <!--<li>Forms Module - Add Clean Data</li>-->
        <li>Create a page restricted to Loggedin users</li>
      </ul>

    </div>

    <!-- TABS TO SELECT ENVIRONMENT -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#box" data-toggle="tab">Out-of-the-Box</a></li>
      <li><a href="#own-views" data-toggle="tab">Make Your Own Views</a></li>
      <li><a href="#useform" data-toggle="tab">Use a Form Class</a></li>
      <!--<li><a href="#useform2" data-toggle="tab">Forms Module - Clean Data</a></li>-->
      <li><a href="#restricted" data-toggle="tab">Restricted Page</a></li>
    </ul>
        
    <div id="myTabContent" class="tab-content">
    
<!-------------------------------------------------------------------------------------------------------------
------  OUT OF THE BOX --------------------------------------------------------------------------------------->     
      <div class="tab-pane fade in active" id="box">
        <div class='row-fluid'>
          <div class='span9 container-fluid'>

            <h2>Django's Out-of-the-Box Login</h2>
            
            <!-- OVERVIEW -->
            <h3 id="box-overview" class="adjust-anchor">Overview</h3>
            <ul>
              <li>Django's out-of-the-box login process is part of their Auth module. The relevant files (views.py and forms.py) are located in your python or virtualenv directory at /Lib/site-packages/django/contrib/auth/. It does not include templates so we'll make our own.</li>
              <li>Here is how the default solution works:</p>
              <ul>
                <li>You include a Login link in an appropriate place on your site.</li>
                <li>The user clicks the link to login, the page opens with a login form asking for username and password.</li>
                <li>They enter those. If they don't match they will get an error message.</li>
                <li>If they match they are redirected to a success page, and a Session is started as a loggedin user.</li>
              </ul>
            </ul>              
            
            <!-- Views and Urls -->
            <h3 id="box-views" class="adjust-anchor">Views and URLs</h3>
            <ul>
              <li>Open the views.py file in the lower site folder (where the settings.py file is). If there isn't one then create and save it.</li>
              <li>At the top of the file insert the following import:
<pre>
from django.shortcuts import render_to_response
</pre>
              </li>
              <li>Below that you only need to add one function rendering the loggedin page. The other functions (login and logout) are in the views.py file in the Django Auth folder.
<pre>
def loggedin(request):
    return render_to_response('registration/loggedin.html')
</pre>
              </li>
              <li>Optionally, if you want to show their username when they login then call their username in the view. Change the loggedin function to:
<pre>
def loggedin(request):
    return render_to_response('registration/loggedin.html',
                              {'username': request.user.username})
</pre>              
              </li>
              <li>Open the urls.py file in the site folder (same folder as settings.py). Below <code>urlpatterns = patterns('',</code> insert the following lines.
<pre>
    # Auth-related URLs:
    url(r'^accounts/login/$', 'django.contrib.auth.views.login', name='login'),
    url(r'^accounts/logout/$', 'django.contrib.auth.views.logout', name='logout'),
    url(r'^accounts/loggedin/$', '<i>simplesite</i>.views.loggedin', name='loggedin'),
</pre>
              With simplesite being the name of the folder that holds the views.py file that you are calling.
              </li>
              <li>Open the settings.py file and at the bottom insert <code>LOGIN_REDIRECT_URL = '/accounts/loggedin/'</code>. Django's default is to redirect to <code>/accounts/profile</code> when you log in, which is fine if you have an profile page at that url. If not you need to change your settings default for the Login redirect url to the one holding your loggedin.html page.</li>
            </ul>   

            <!-- Templates -->
            <h3 id="box-templates" class="adjust-anchor">Templates</h3>
            <ul>
              <li>We will assume your site already has a templates directory and a base.html file with the navigation bar. Open the base.html file and in the nav element add a navigation menu link to the login page <code>&lt;a href="/accounts/login">login&lt;/a></code></li>
              <li>Add a logout link too <code>&lt;a href="/accounts/logout">logout&lt;/a></code></li>
              <li>Create a directory called registration inside the templates folder. If you do this through the command line, type <code>mkdir registration</code></li>
              <li>Create a file called login.html and save it to the templates/registration folder.</li>
              <li>Populate the login.html template with the following:
<pre>
{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

&lt;form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
&lt;table>
  {{ form.as_table }}
&lt;/table>

&lt;input type="submit" value="login" />
&lt;/form>

{% endblock %}
</pre>
              </li>
              <li><code>{{ form.as_table }}</code> uses the Django Forms module to create the form. You can create an unformatted form by using <code>{{ form }}</code> without the HTML table tags, or have each field put inside paragraph tags with <code>{{ form.as_p }}</code>, or as an unordered list <code>{{ form.as_ul }}</code> 
              <li>You can also lay out your own form structure, and use the form field tags as below:</li>
<pre>
{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

&lt;form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

{% if form.errors %}
&lt;p>Your Username or Password were not entered correctly. Please try again.&lt;/p>
{% endif %}

&lt;table>
&lt;tr>
    &lt;td>{{ form.username.label_tag }}&lt;/td>
    &lt;td>{{ form.username }}&lt;/td>
    &lt;td>{{ form.username.errors }}&lt;/td> 
&lt;/tr>
&lt;tr>
    &lt;td>{{ form.password.label_tag }}&lt;/td>
    &lt;td>{{ form.password }}&lt;/td>
    &lt;td>{{ form.password.errors }}&lt;/td>
&lt;/tr>
&lt;/table>

&lt;input type="submit" value="login" />
&lt;/form>

{% endblock %}
</pre>              
              </li>
              <li>Create a file called loggedin.html, save it to the templates/registration folder, and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

  &lt;h2>You are logged in&lt;/h2>

{% endblock %}
</pre>
              </li>
              <li>If you want to display the username, you would make the adjustment to the view discussed in the views section. Then change the loggedin.html template to the below (change the working as you see fit):
<pre>
{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

&lt;h1>Welcome {{username}}&lt;/h1>
&lt;p>Thank you for logging in.&lt;/p>
&lt;p>&lt;a href="/accounts/logout/">Logout&lt;/a>&lt;/p>

{% endblock %}
</pre>              
              </li>
              <li>Create a file called logged_out.html, save it to the templates/registration folder and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged Out{% endblock %}
{% block content %}

  &lt;h2>Logged out!&lt;/h2>
  &lt;p>&lt;a href="/accounts/login/">Log back in&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
            </ul>
            
            <!-- TESTING -->
            <h3 id="box-testing" class="adjust-anchor">Testing</h3>
            <ul>
              <li>Now run the virtual server and test that the Login form is working.</li>
              <ul>
                <li>Open the command line interface.</li>
                <li>from the upper site directory (the folder with the manage.py file in it) enter <code>python manage.py runserver</code></li>
                <li>Go to the browser and put in your local ip address and port 8000 as url: <a href="http://127.0.0.1:8000/" target="_blank">http://127.0.0.1:8000/</a></li>
                <li>Click on the navigation bar's "login" link. It should take you to the login page.</li>
                <li>Fill out the form both incorrectly, to see the error messages, and correctly.</li>
                <li>When filled out correctly you should be directed to the loggedin page.</li>
                <li>Logout. If it works, you're done.</li>
              </ul>  
            </ul>
            
          </div> <!--/.span9 -->  
          
          <!-- SIDEBAR -->
          <div class='span3'>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href='#box-overview'><i class="icon-chevron-left"></i> Overview</a></li>       
              <li><a href='#box-views'><i class="icon-chevron-left"></i> Views and URLs</a></li>	
              <li><a href='#box-templates'><i class="icon-chevron-left"></i> Templates</a></li>	
              <li><a href='#box-testing'><i class="icon-chevron-left"></i> Testing</a></li>	
            </ul>
          </div> <!--/.span3 -->
        </div> <!-- /.row -->
      </div><!--/#out-of-the-box -->

<!-------------------------------------------------------------------------------------------------------------
------  MAKE YOUR OWN VIEWS ---------------------------------------------------------------------------------->     
      <div class="tab-pane fade" id="own-views">
        <div class='row-fluid'>
          <div class='span9 container-fluid'>

            <h2>Make Your Own Views</h2>
            
            <!-- Set Up the Project -->
            <h3 id="ownview-overview" class="adjust-anchor">Overview</h3>
            <ul>
              <li>The out-of-the-box process will generally meet your needs. In this tutorial we will use our own views mainly just to help get familiar with making views (i.e., functions). In this version of the Login tutorial, we will make our own view and our own form. We will still use Django's authentication functions.</li>
              <li>This version includes a walk-through of the code. It's fairly elementary so if you understand all the code you can skip it. We also combined some of the functions at the end to show different ways of achieving the same end.</li>
            </ul>              
            
            <!-- Views and Urls -->
            <h3 id="ownview-views" class="adjust-anchor">Views and URLs</h3>
            <ul>
              <li>Open the views.py file lower site folder (where the settings.py file is). If one doesn't exist then create it.</li>
              <li>At the top of the file insert the following imports:
<pre>
from django.shortcuts import render_to_response
from django.http import HttpResponseRedirect
from django.contrib import auth
from django.core.context_processors import csrf
</pre>
              </li>
              <li>Below that add the following functions:
<pre>
def login(request):
    token = {}
    token.update(csrf(request))    
    return render_to_response('registration/login.html', token)
    
def process_login(request):
    username = request.POST.get('username', '')
    password = request.POST.get('password', '')
    user = auth.authenticate(username=username, password=password)
    
    if user is not None:
        auth.login(request, user)
        return HttpResponseRedirect('/accounts/loggedin')
    else:
        return HttpResponseRedirect('/accounts/login_error')

def loggedin(request):
    return render_to_response('registration/loggedin.html', 
                              {'username': request.user.username})

def login_error(request):
    return render_to_response('registration/login_error.html')

def logout(request):
    auth.logout(request)
    return render_to_response('registration/logged_out.html')
</pre>
              </li>
              <li>Open the urls.py file in the site folder (same folder as settings.py). Below <code>urlpatterns = patterns('',</code> insert the following lines.
<pre>
    # Auth-related URLs:
    url(r'^accounts/login/$', '<i>simplesite</i>.views.login', name='login'),
    url(r'^accounts/process_login/$', '<i>simplesite</i>.views.process_login', name='process_login'),
    url(r'^accounts/loggedin/$', '<i>simplesite</i>.views.loggedin', name='loggedin'),
    url(r'^accounts/login_error/$', '<i>simplesite</i>.views.login_error', name='login_error'),
    url(r'^accounts/logout/$', '<i>simplesite</i>.views.logout', name='logout'),
</pre>
              </li>
            </ul>   
        
            <!-- Templates -->
            <h3 id="ownview-templates" class="adjust-anchor">Templates</h3>
            <ul>
              <li>We will assume your site already has a templates directory and a base.html file with the navigation bar. Open the base.html file and in the nav element add a navigation menu link to the login page <code>&lt;a href="/accounts/login">login&lt;/a></code></li>
              <li>Add a logout link too <code>&lt;a href="/accounts/logout">logout&lt;/a></code></li>
              <li>Create a directory called registration inside the templates folder <code>mkdir registration</code></li>
              <li>Create a file called login.html and save it to the templates/registration folder.</li>
              <li>Populate the login.html template with the following:
<pre>
{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

&lt;form method="post" action="/accounts/process_login/">
{% csrf_token %}
&lt;table>
&lt;tr>
    &lt;td>&lt;label for="username">User name:&lt;/label>&lt;/td>
    &lt;td>&lt;input type="text" name="username" value="" id="username">&lt;/td>
&lt;/tr>
&lt;tr>
    &lt;td>&lt;label for="password">Password:&lt;/label>&lt;/td>
    &lt;td>&lt;input type="password" name="password" value="" id="password">&lt;/td>
&lt;/tr>
&lt;/table>

&lt;input type="submit" value="login" />
&lt;/form>

{% endblock %}
</pre>
              </li>
              <li>Create a file called loggedin.html, save it to the templates/registration folder, and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

&lt;h1>Welcome {{username}}&lt;/h1>
&lt;p>Thank you for logging in.&lt;/p>
&lt;p>&lt;a href="/accounts/logout/">Logout&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
              <li>Create a file called login_error.html, save it to the templates folder, and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Loggin Error{% endblock %}
{% block content %}

  &lt;h4>Your username or password didn't match.&lt;/h4>
  &lt;p>Please try again &lt;a href="/accounts/login/">Login Page&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
              <li>Create a file called logged_out.html, save it to the templates/registration folder and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged Out{% endblock %}
{% block content %}

  &lt;h2>Logged out!&lt;/h2>
  &lt;p>&lt;a href="/accounts/login/">Log back in&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
            </ul>
            
            <!-- TESTING -->
            <h3 id="ownview-testing" class="adjust-anchor">Testing</h3>
            <ul>
              <li>Now run the virtual server and test that the Login form is working.</li>
              <ul>
                <li>Open the command line interface.</li>
                <li>from the upper site directory (the folder with the manage.py file in it) enter <code>python manage.py runserver</code></li>
                <li>Go to the browser and put in your local ip address and port 8000 as url: <a href="http://127.0.0.1:8000/" target="_blank">http://127.0.0.1:8000/</a></li>
                <li>Click on the navigation bar's "login" link. It should take you to the login page.</li>
                <li>Fill out the form both incorrectly, to see the error messages, and correctly.</li>
                <li>When filled out correctly you should be directed to the loggedin page.</li>
                <li>Logout. If it works, you're done.</li>
              </ul>  
            </ul>
            
            <!-- WALK THROUGH THE CODE -->
            <h3 id="ownview-walkthru" class="adjust-anchor">Walk Through the Code</h3>
            <ul>
              <li>If you understand the code you can skip this part. If not then follow the flow, especially if you are a new developer.</li>
              <li>The process starts with links on the base.html page to login and logout <code>&lt;a href="/accounts/login">login&lt;/a></code>, <code>&lt;a href="/accounts/logout">logout&lt;/a></code>. Use relative links.</li>
            </ul>
            <h5>URLs:</h5>
            <ul>
              <li>The urls.py file dispatches the URLs to functions and classes in the views.py file. It is preloaded by Django in the lower site folder.</li>
              <li>At the top of the file are the imports <code>from django.conf.urls import patterns, include, url</code>. This pulls in the patterns, include, and url functions from the file /Lib/site-packages/django/conf/urls/__init__.py.</li>
              <li>For each URL (e.g., accounts/login) you call the URL function. <code>url(r'^accounts/login/$', 'simplesite.views.login', name='login'),</code>. This function pairs URLs with Views.</li>
              <ul>
                <li>The first argument <code>r'^accounts/login/$',</code> is a regular expression. It looks for a URL that contains /accounts/login/. ^ means it begins with, $ means ends with, so it can't have anything before accounts other then the site's URL (the / is automatically added by Django). And it can't have anything after login/. The 'r' in front tells Python that the string is “raw” and nothing in the string should be escaped. It is optional but recommended.</li> 
                <li>You can use whatever URL names you want. "Accounts" is the default used by Django but if you like "user" better than "accounts" then use that. Or leave the first part out and just use <code>r'^login/$',</code>. Change the link on the base.html page accordingly.</li>
                <li>The second argument <code>'simplesite.views.login',</code> is the view. It uses dot notation with the path to the login function (simplesite folder -> views.py file -> login function).</li>
                <li>The name argument is optional. It defaults to none.</li>
              </ul>
              <li>The patterns() function puts the url/view pairs in a list, which is called by the <code>urlpatterns</code> variable. When the user clicks the URL link, Python searches through this list of URLs until it finds a match, then goes to the view.py file to the function or class to take some action.</li>
            </ul>
            <h5>Login View</h5>
            <ul>
              <li>Clicking on the Login link routes you to the login function in the views.py file.  
<pre>
def login(request):
    token = {}
    token.update(csrf(request))    
    return render_to_response('registration/login.html', token)
</pre>
              </li>
              <li>This function first creates an empty variable named token (you can name it anything, doesn't have to be called token). It then requests a token number with the csrf(request) function. The csrf (cross site request forgery) token is a security measure. It creates and submits a token with your form submission.</li>
              <li>You must insert <code>from django.core.context_processors import csrf</code> at the top of the views.py file in order to call the csrf function.</li>
              <li>The render_to_response function loads the login.html template. It is imported from the shortcuts module <code>from django.shortcuts import render_to_response</code>. You can see the function in the file /Lib/site-packages/django/shortcuts/__init__.py.</li>
            </ul>
            <h5>Login Template</h5>
            <ul>
              <li>The Login template contains the Login form. The user must enter their username and password.</li>
              <li>To include the csrf token with the form submission, you must place the code <code>{% csrf_token %}</code> between the HTML form tags.</li>
              <li>The form uses the standard post method and sends the form, without and validation at this point, to the URL <code>/accounts/process_login/</code>.
            </ul>
            <h5>Process_login View</h5>
            <ul>
              <li>The <code>/accounts/process_login/</code> is dispatched through the url function <code>url(r'^accounts/process_login/$', 'simplesite.views.process_login', name='process_login'),</code>to the process_login function in the view.py file.</li>
              <li>Variables are created for username and password that get the submitted username and password from the post data.</li>
              <li>A variable called user is created by putting the username and password into the authenticate function. The authenticate function is part of the Django Auth module. It checks if the username and password match the database. If it does it returns the user object and stores it in the variable.</li>
              <li>The conditional if statement checks to see that the user variable is not empty. If it's not empty (i.e., it has a user object) then the login function creates a session for the user. As long as the browser stays on the site, the session will store the user object temporarily on your server. When they close their browser the server will delete the session.</li>
              <li>Then the HTTPResponseRedirect function routes you to the /accounts/loggedin url. To use this function you must import it at the top of the views.py file <code>from django.http import HttpResponseRedirect</code>.</li>
              <li>If the username and password did not match the database then the <code>else</code> conditional would route them to the login_error page.</li>
            </ul>
            <h5>Logged In</h5>
            <ul>
              <li>If the usename and password is authenticated the urls.py file will route you to the loggedin.html file.</li>
              <li>The loggedin function includes an optional argument <code>{'username': request.user.username}</code> which passes the variable "username" containing the username to the loggedin template.</li>
              <li>The loggedin.html template includes the username variable <code>{{username}}</code> in it's welcome message.</li>
            </ul>
            
            <!-- Combine Login and Process views -->
            <h3 id="ownview-logincombine" class="adjust-anchor">Combine the login and process_login views and urls.</h3>
            <ul>
              <li>You can combine the login and process_login views by including a conditional if statement as follows:
<pre>
def login(request):
    if request.method == "POST":
        username = request.POST.get('username', '')
        password = request.POST.get('password', '')
        user = auth.authenticate(username=username, password=password)

        if user is not None:
            auth.login(request, user)
            return HttpResponseRedirect('/accounts/loggedin')
        else:
            return HttpResponseRedirect('/accounts/login_error')

    else:
        token = {}
        token.update(csrf(request))
        return render_to_response('registration/login.html', token)
</pre>              
              </li>
              <li>The login function adds an if statement that tests whether a Post method was used (i.e., whether the form was submitted). If the users clicked the login link then they haven't even seen the form yet, so the result would be false, and the function would skip down and execute the <code>else:</code> statement. That would render the login.html page and assign it a csrf token.</li>
              <li>If the post method was used (i.e., the form was submitted) then the username and password would be authenticated, and rerouted to either a loggedin or login_error page.</li>
              <li>You have to make two more changes. In the Login.html template change the action parameter of the opening form tag <code>&lt;form method="post" action="/accounts/process_login/"></code>. Replace <code>process_login</code> with <code>login</code>.
              <li>Then go to the urls.py file and delete the process_login url function <code>url(r'^accounts/process_login/$', '<i>simplesite</i>.views.process_login', name='process_login'),</code>, since it's no longer used.</li>
              <li>That makes the view and urls a bit cleaner.</li>
            </ul>   
            
            <!-- Combine More - Error Message
            <h3 id="ownview-combinemore" class="adjust-anchor">Combine Error Message with Login View</h3>
            <ul>
              <li>If the username or password does not match the database the user is routed to a login_error.html page. But you probably want to keep them on the login page and just display the message. To do that you create a message variable.</li>
              <li>Change the login function in the views.py file to:
<pre>
def login(request):
    message = None
    if request.method == "POST":
        username = request.POST.get('username', '')
        password = request.POST.get('password', '')
        user = auth.authenticate(username=username, password=password)

        if user is not None:
            auth.login(request, user)
            return HttpResponseRedirect('/accounts/loggedin')
        else:
            message = "Invalid username and/or password"

    else:
        token = {}
        token.update(csrf(request))
        return render_to_response('registration/login.html', {'message': message}, token)
</pre>
              We added a message variable set to none. Then changed the <code>else:</code> statement from a URL to a message. Finally we included the message variable as an argument in the render_to_response function to pass it to the login template.</li>
              <li>Add the message variable to the login template. Open the login.html template and insert the message variable where you want it, usually at the top of the form below the heading but above the fields.
<pre>
{% if message %}
&lt;p>{{message}}&lt;/p>
{% endif %}
</pre>            
              </li>
              <li>Now, go to the urls.py file and delete the url variable <code>url(r'^accounts/login_error/$', 'simplesite.views.login_error', name='login_error'),</code> since it's no longer needed.</li>
              <li>Now if you test the errors they should show up on the login page instead of being redirected to a login_error page.</li>
              <li>You can now delete the login_error.html template.</li>
            </ul>  
              
            <!-- Even More - Success Message -- >
            <h3 id="ownview-evenmore" class="adjust-anchor">Even More - Success Message</h3>
            <ul>
              <li>If you want to display the login success message on the same login page rather than redirecting to another page you can use the message variable again.</li>
              <li>In the login function in the views.py file change the redirect <code>return HttpResponseRedirect('/accounts/loggedin')</code> to a success message <code>message = "You are now logged in"</code>.
              <li>Now in the urls.py file delete the loggedin variable <code>url(r'^accounts/loggedin/$', 'simplesite.views.loggedin', name='loggedin'),</code> since it's no longer used.</li>
              <li>Now test it out. The logged in message should now show on the login page.</li>
              <li>You can now delete the loggedin.html template.</li>
            </ul> 
            -->
          </div> <!--/.span9 -->  
          
          <!-- SIDEBAR -->
          <div class='span3'>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href='#ownview-overview'><i class="icon-chevron-left"></i> Overview</a></li>       
              <li><a href='#ownview-views'><i class="icon-chevron-left"></i> Views and URLs</a></li>	
              <li><a href='#ownview-templates'><i class="icon-chevron-left"></i> Templates</a></li>	
              <li><a href='#ownview-testing'><i class="icon-chevron-left"></i> Testing</a></li>	
              <li><a href='#ownview-walkthru'><i class="icon-chevron-left"></i> Walk Through the Code</a></li>
              <li><a href='#ownview-logincombine'><i class="icon-chevron-left"></i> Combine Views</a></li>   
              <!--  <li><a href='#ownview-combinemore'><i class="icon-chevron-left"></i> Combine More Views</a>
              <li><a href='#ownview-evenmore'><i class="icon-chevron-left"></i> Even More</a>  -->
            </ul>
          </div> <!--/.span3 -->
        </div> <!-- /.row -->
      </div><!--/#ownview -->
      
<!-------------------------------------------------------------------------------------------------------------
------  USE FORMS -------------------------------------------------------------------------------------------->     
      <div class="tab-pane fade" id="useform">
        <div class='row-fluid'>
          <div class='span9 container-fluid'>
            <h2>Use a Form Class</h2>
          
            <!-- Overview -->
            <h3 id="useform-overview" class="adjust-anchor">Overview</h3>
            <ul>
              <li>Django's built-in forms module for authentication is located in the <code>simpleproj/Lib/site-packages/django/forms</code> directory. It's a useful feature.</li>
              <li>When you use the forms module, instead of writing the form with HTML on the login.html file, you create a separate forms.py file to add your fields and include a form variable on the template.</li>
              <li>This version of the Login tutorial shows a very basic Login process using the forms module.</li>
            </ul>             
  
            <!-- Forms -->
            <h3 id="useform-forms" class="adjust-anchor">Forms</h3>
            <ul>
              <li>Create a file named forms.py and save it to your lower site folder (where the settings.py file is). At the top of the file import Django's forms and auth modules.
<pre>
from django import forms
</pre>              
              </li>
              <li>Below that add a class for the login form.
<pre>
class LoginForm(forms.Form):
    username = forms.CharField()
    password = forms.CharField(widget=forms.PasswordInput())
</pre>              
              </li>
              <li>This creates two variables called username and password that are assigned form character fields.</li> 
              <li>You can add arguments to CharField such as the PasswordInput widget. You can set a maximum length of 25 characters by inserting in the parentheses <code>max_length=25</code>. Or a min_length of 4 characters <code>max_length=4</code>. All form fields are required by default. If you want a form field to be optional add required=False. Separate multiple arguments with commas password = <code>forms.CharField(widget=forms.PasswordInput, min_length=4</code>.</li>
            </ul>   
  
            <!-- Views and Urls -->
            <h3 id="useform-views" class="adjust-anchor">Views and URLs</h3>
            <ul>
              <li>Open the views.py file lower site folder (where the settings.py file is). If one doesn't exist then create it.</li>
              <li>At the top of the file insert the following imports:
<pre>
from django.shortcuts import render_to_response
from django.http import HttpResponseRedirect
from django.contrib import auth
from django.template import RequestContext
from <i>simplesite</i>.forms import LoginForm 
</pre>
              </li>
              <li>The LoginForm is the class you created in the forms.py file. You can give it any name. Change the dot notation path name from <i>simplesite</i> if your directory name is different.</li>
              <li>Below that add the following functions:
<pre>
def login(request):
    message = None
    if request.method == "POST":
        form = LoginForm(request.POST)
        if form.is_valid():
            username = request.POST['username']
            password = request.POST['password']
            user = auth.authenticate(username=username, password=password)
            if user is not None:
                auth.login(request, user)
                return HttpResponseRedirect('/accounts/loggedin')
            else:
                message = "Invalid username and/or password, please reenter"
    else:
        form = LoginForm()
    return render_to_response('registration/login.html', {'message': message, 'form': form},
                             context_instance=RequestContext(request))
                             
def loggedin(request):
    return render_to_response('registration/loggedin.html',
                              {'username': request.user.username})

def logout(request):
    auth.logout(request)
    return render_to_response('registration/logged_out.html')
</pre>
              </li>
              <li>The Django's Auth process includes a distiction between active and inactive users. All users are active by default. The site's administrator can make a users inactive through the Admin Console without deleting them. If you use this feature you can limit login to only active users. In the Login view created above, between <code>if user is not None:</code> and <code>else:</code>, change the code to:
<pre>
if user.is_active:
    auth.login(request, user)
    return HttpResponseRedirect('/accounts/loggedin')
else:
    message = "Your account is inactive"
</pre>              
              </li>
              <li>Open the urls.py file in the site folder (same folder as settings.py). Below <code>urlpatterns = patterns('',</code> insert the following lines.
<pre>
    # Auth-related URLs:
    url(r'^accounts/login/$', '<i>simplesite</i>.views.login', name='login'),
    url(r'^accounts/loggedin/$', '<i>simplesite</i>.views.loggedin', name='loggedin'),
    url(r'^accounts/logout/$', '<i>simplesite</i>.views.loggedin', name='logout'),
</pre>
              </li>
            </ul>    

            <!-- Templates -->
            <h3 id="useform-templates" class="adjust-anchor">Templates</h3>
            <ul>
              <li>We will assume your site already has a templates directory and a base.html file with the navigation bar. Open the base.html file and in the nav element add a navigation menu link to the login page <code>&lt;a href="/accounts/login">login&lt;/a></code></li>
              <li>Add a logout link too <code>&lt;a href="/accounts/logout">logout&lt;/a></code></li>
              <li>Create a directory called registration inside the templates folder <code>mkdir registration</code></li>
              <li>Create a file called login.html and save it to the templates/registration folder.</li>
              <li>Populate the login.html template with the following:
<pre>
{% extends "base.html" %}

{% block title %}Log In{% endblock %}
{% block content %}

&lt;form method="post" action="/accounts/login/">
{% csrf_token %}

  {% if message %}
  &lt;p>{{message}}&lt;/p>
  {% endif %}

  &lt;table>
    {{ form.as_table }}
  &lt;/table>

&lt;input type="submit" value="login" />
&lt;/form>

{% endblock %}
</pre>
              </li>
              <li>If you don't want the form in table format, remove the HTML table tags and change the form variable to <code>{{ form.as_p }}</code> to put paragraph tags around each input, or <code>{{ form.as_ul }}</code> to display the form as an unordered list (add HTML ul tags to indent). To make it an in-line form just use <code>{{ form }}</code>
              <li>Create a file called loggedin.html, save it to the templates/registration folder, and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

&lt;h1>Welcome {{username}}&lt;/h1>
&lt;p>Thank you for logging in.&lt;/p>
&lt;p>&lt;a href="/accounts/logout/">Logout&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
              <li>Create a file called logged_out.html, save it to the templates/registration folder and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged Out{% endblock %}
{% block content %}

  &lt;h2>Logged out!&lt;/h2>
  &lt;p>&lt;a href="/accounts/login/">Log back in&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
            </ul>
            
            <!-- TESTING -->
            <h3 id="useform-testing" class="adjust-anchor">Testing</h3>
            <ul>
              <li>Now run the virtual server and test that the Login form is working.</li>
              <ul>
                <li>Open the command line interface.</li>
                <li>from the upper site directory (the folder with the manage.py file in it) enter <code>python manage.py runserver</code></li>
                <li>Go to the browser and put in your local ip address and port 8000 as url: <a href="http://127.0.0.1:8000/" target="_blank">http://127.0.0.1:8000/</a></li>
                <li>Click on the navigation bar's "login" link. It should take you to the login page.</li>
                <li>Fill out the form both incorrectly, to see the error messages, and correctly.</li>
                <li>When filled out correctly you should be directed to the loggedin page.</li>
                <li>Logout. If it works, you're done.</li>
              </ul>  
            </ul>
            
          </div> <!--/.span9 -->  
        	<!-- SIDEBAR -->
          <div class='span3'>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href='#useform-overview'><i class="icon-chevron-left"></i> Overview</a></li>
              <li><a href='#useform-forms'><i class="icon-chevron-left"></i> Forms</a></li>	
              <li><a href='#useform-views'><i class="icon-chevron-left"></i> Views and URLs</a></li>	
              <li><a href='#useform-templates'><i class="icon-chevron-left"></i> Templates</a></li>	
              <li><a href='#useform-testing'><i class="icon-chevron-left"></i> Testing</a></li>	
            </ul>
          </div> <!--/.span3 -->
        </div> <!-- /.row -->
      </div> <!--/#UseForm -->    
      
<!-------------------------------------------------------------------------------------------------------------
------  USE FORMS2 - CLEAN DATA ------------------------------------------------------------------------------ >     
      <div class="tab-pane fade" id="useform2">
        <div class='row-fluid'>
          <div class='span9 container-fluid'>
            <h2>Use the Forms Module - Clean Data</h2>
          
            <!-- Set Up the Project -- >
            <h3 id="useform2-overview" class="adjust-anchor">Overview</h3>
            <ul>
              <li>Django's built-in forms module for authentication is located in the <code>simpleproj/Lib/site-packages/django/forms</code> directory. It's a useful feature.</li>
              <li>When you use the forms module, instead of writing the form with HTML on the login.html file, you create a separate forms.py file to add your fields and include a form variable on the template.</li>
              <li>This version of the Login tutorial adds data cleaning, which is a protection against malicious code injections.</li>
            </ul>              
  
            <!-- Forms -- >
            <h3 id="useform2-forms" class="adjust-anchor">Forms</h3>
            <ul>
              <li>Create a file named forms.py and save it to your lower site folder (where the settings.py file is). At the top of the file import Django's forms and auth modules.
<pre>
from django import forms
from django.contrib import auth
</pre>              
              </li>
              <li>Below that add a class for the login form.
<pre>
class LoginForm(forms.Form):
    username = forms.CharField(max_length=25, required=True)
    password = forms.CharField(widget=forms.PasswordInput, required=True)

    def clean(self):
        username = self.cleaned_data.get('username')
        password = self.cleaned_data.get('password')
        user = auth.authenticate(username=username, password=password)
        if not user or not user.is_active:
            raise forms.ValidationError("Sorry, that login was invalid. Please try again.")
        else:
            return self.cleaned_data

    def login(self, request):
        username = self.cleaned_data.get('username')
        password = self.cleaned_data.get('password')
        user = auth.authenticate(username=username, password=password)
        return user
</pre>              
              </li>
              <li>This creates two variables called username and password that are assigned form character fields with set parameters.</li> 
              <li>The clean function escapes characters that could be used in an sql injection attack.</li>
              <li>It then uses the authenticate function from the auth module to see if the username and password match the database. If so, the user object is assigned to the user variable. If not, the ValidationError function from the forms module is called and assigned an error message.<li>
              <li>The login method returns the user object.</li>
            </ul>   
  
            <!-- Views and Urls -- >
            <h3 id="useform2-views" class="adjust-anchor">Views and URLs</h3>
            <ul>
              <li>Open the views.py file lower site folder (where the settings.py file is). If one doesn't exist then create it.</li>
              <li>At the top of the file insert the following imports:
<pre>
from django.shortcuts import render_to_response
from django.http import HttpResponseRedirect
from django.contrib import auth
from <i>simplesite</i>.forms import LoginForm 
</pre>
              </li>
              <li>The LoginForm is the class you created in the forms.py file. You can give it any name. Change the dot notation path name from <i>simplesite</i> if your directory name is different.</li>
              <li>Below that add the following functions:
<pre>
def login(request):
    form = LoginForm(request.POST or None)
    if request.POST and form.is_valid():
        user = form.login(request)
        if user:
            auth.login(request, user)
            return HttpResponseRedirect('/accounts/loggedin')
    else:
        return render(request, 'registration/login.html', {'form': form })
    
def loggedin(request):
    return render_to_response('registration/loggedin.html', 
                              {'username': request.user.username})

def logout(request):
    auth.logout(request)
    return render_to_response('registration/logged_out.html')
</pre>
              </li>
              <li>The Django's Auth process includes a distiction between active and inactive users. All users are active by default. The site's administrator can make a users inactive through the Admin Console without deleting them. If you use this feature you can limit login to only active users. In the Login view created above, between <code>if user is not None:</code> and <code>else:</code>, change the code to:
<pre>
if user.is_active:
    auth.login(request, user)
    return HttpResponseRedirect('/accounts/loggedin')
else:
    message = "Your account is inactive"
</pre>              
              </li>
              <li>Open the urls.py file in the site folder (same folder as settings.py). Below <code>urlpatterns = patterns('',</code> insert the following lines.
<pre>
    # Auth-related URLs:
    url(r'^accounts/login/$', '<i>simplesite</i>.views.login', name='login'),
    url(r'^accounts/loggedin/$', '<i>simplesite</i>.views.loggedin', name='loggedin'),
    url(r'^accounts/logout/$', '<i>simplesite</i>.views.loggedin', name='logout'),
</pre>
              </li>
            </ul>    

            <!-- Templates -- >
            <h3 id="useform2-templates" class="adjust-anchor">Templates</h3>
            <ul>
              <li>We will assume your site already has a templates directory and a base.html file with the navigation bar. Open the base.html file and in the nav element add a navigation menu link to the login page <code>&lt;a href="/accounts/login">login&lt;/a></code></li>
              <li>Add a logout link too <code>&lt;a href="/accounts/logout">logout&lt;/a></code></li>
              <li>Create a directory called registration inside the templates folder <code>mkdir registration</code></li>
              <li>Create a file called login.html and save it to the templates/registration folder.</li>
              <li>Populate the login.html template with the following:
<pre>
{% extends "base.html" %}

{% block content %}

&lt;form method="post" action="/accounts/login/">
{% csrf_token %}

    &lt;table>
        {{ form.as_table }}
    &lt;/table>

&lt;input type="submit" value="login" />
&lt;/form>

{% endblock %}
</pre>
              </li>
              <li>Create a file called loggedin.html, save it to the templates/registration folder, and populate it with the following:
<pre>
{% extends "base.html" %}
{% block title %}Logged In{% endblock %}
{% block content %}

&lt;h1>Welcome {{username}}&lt;/h1>
&lt;p>Thank you for logging in.&lt;/p>
&lt;p>&lt;a href="/accounts/logout/">Logout&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
              <li>Create a file called logged_out.html, save it to the templates/registration folder and populate it with the following:
<pre>
{% extends "base.html" %}

{% block content %}

  &lt;h2>Logged out!&lt;/h2>
  &lt;p>&lt;a href="/accounts/login/">Log back in&lt;/a>&lt;/p>

{% endblock %}
</pre>
              </li>
            </ul>
            
            <!-- TESTING -- >
            <h3 id="useform2-testing" class="adjust-anchor">Testing</h3>
            <ul>
              <li>Now run the virtual server and test that the Login form is working.</li>
              <ul>
                <li>Open the command line interface.</li>
                <li>from the upper site directory (the folder with the manage.py file in it) enter <code>python manage.py runserver</code></li>
                <li>Go to the browser and put in your local ip address and port 8000 as url: <a href="http://127.0.0.1:8000/" target="_blank">http://127.0.0.1:8000/</a></li>
                <li>Click on the navigation bar's "login" link. It should take you to the login page.</li>
                <li>Fill out the form both incorrectly, to see the error messages, and correctly.</li>
                <li>When filled out correctly you should be directed to the loggedin page.</li>
                <li>Logout. If it works, you're done.</li>
              </ul>  
            </ul>
            
          </div> <!--/.span9 -->  
        	<!-- SIDEBAR -- >
          <div class='span3'>
            <ul class="nav nav-tabs nav-stacked">
              <li><a href='#useform2-setup'><i class="icon-chevron-left"></i> Set Up the Project</a></li>
              <li><a href='#useform2-forms'><i class="icon-chevron-left"></i> Forms</a></li>	
              <li><a href='#useform2-views'><i class="icon-chevron-left"></i> Views and URLs</a></li>	
              <li><a href='#useform2-templates'><i class="icon-chevron-left"></i> Templates</a></li>	
              <li><a href='#useform2-testing'><i class="icon-chevron-left"></i> Testing</a></li>	
            </ul>
          </div> <!--/.span3 -- >
        </div> <!-- /.row -- >
      </div> <!--/#UseForm2 -->  
      
<!-------------------------------------------------------------------------------------------------------------
------  RESTRICTED PAGE ------------------------------------------------------------------------------>     
      <div class="tab-pane fade" id="restricted">
        <div class='row-fluid'>
          <div class='span9 container-fluid'>
            <h2>Create a page restricted to Loggedin users</h2>
          
            <ul>
              <li>Django makes it easy to restrict pages to loggedin users. If you have an existing page you just have to add two lines of code in the views.py file.</li>
              <li>Open the views.py file.</li>
              <li>At the top of the file insert an import <code>from django.contrib.auth.decorators import login_required</code>.</li> 
              <li>This imports the login_required decorator from Django's Auth module. A decorator is a software design pattern used to alter the functionality of a function, method, or class without having to directly use subclasses or change the source code of the function being decorated. Python decorators go before the function or class and start with <code>@</code>.</li>
              <li>Add <code>@login_required</code> immediately above the function that renders the page. For example if you have a view called restricted that renders a file called restricted.html it would look like:
<pre>
@login_required 
def restricted(request):
    return render_to_response('restricted.html')
</pre>              
              That's all there is to it. If the user clicks on a link to that page and they are not logged in, they will be redirected to the login page.
              </li>
              <li>Lets test it out. Create and save a file named restricted.html in the templates directory. Populate it with:
<pre>
{% extends "base.html" %}
{% block title %}Restricted Page{% endblock %}
{% block content %}

&lt;h1>Restricted Page&lt;/h1>
&lt;p>Restricted Content goes here.&lt;/p>

{% endblock %}
</pre>              
              </li>
              <li>Create a link to the restricted page somewhere. For simplicity we'll put it in the navigation bar in the base.html file. Insert <code>&lt;a href="/restricted">Restricted Page&lt;/a></code></li>
              <li>Open the urls.py file. Below <code>urlpatterns = patterns('',</code> insert:
<pre>
url(r'^restricted/$', 'simplesite.views.restricted', name='restricted'),
</pre>              
              </li>
              <li>Now test it out. If you are not logged in it will redirect you to the login page. If you are logged in you can see the page.</li>
            </ul>             
            
          </div> <!--/.span9 -->  
        </div> <!-- /.row -->
      </div> <!--/#restricted -->    
      
    </div><!--/#myTabContent -->
    
		<hr/>
		<footer class="span9">
			<center>Python Django Starter Kit  |  Posted by <a href="http://techandstartup.com">TechandStartup.com</a></center>
		</footer>

  </div>  <!-- /container -->

<!-- Javascript is at the end for faster page loading -->
  <script src="js/jquery-1.10.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Or link to the js files hosted on a content delivery network
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>	-->
</body>
</html> 
            